<div class="container mt-5">
  <h2>Orders</h2>
  <br>
  <%= render partial: 'filter_menu' %>
  <br>
  <div id="table-container">
    <%== pagy_info(@pagy) %>
    <br>
    <table class="table table-warning table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">User</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
          <th scope="col">Tracking Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.user.email %></td>
            <td><%= order.product.name %></td>
            <td><%= order.quantity %></td>
            <td><%= order.status %></td>
            <td><%= order.tracking_number %></td>
            <td><%= link_to 'Show', order %>
              <% if current_user.admin? %>
                <% if order.status == "not shipped" %>
                  | <%= link_to 'Ship Now', edit_order_path(order) %> | <%= link_to 'Destroy', order, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
