<div class="container mt-5">
   <div class="jumbotron">
     <h1 class="display-4">Welcome to Postera</h1>
   </div>
</div>
<section style="background-color: #fff;">
  <% @products.each do |product| %>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card text-black">
            <%= image_tag product.image.present? ? product.image : "1.jpeg", class: "d-block w-100" %>
            <div class="card-body">
              <div class="text-center">
                <h5 class="card-title"><%= product.name %></h5>
                <p class="text-muted mb-4"><%= product.description %></p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Artist</span><span><%= product.artist %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>SKU</span><span><%= product.sku %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Stock</span><span><%= product.stock %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Price</span><span><%= product.price %></span>
                </div>
                <div class="d-flex justify-content-between">
                  <span>Dimensions</span><span><%= product.width %> x <%= product.height %></span>
                </div>
                <div class="text-center total font-weight-bold mt-4">
                  <% if current_user.present? %>
                    <%= button_to 'Buy Now!', orders_path(order: { user_id: current_user.id, product_id: product.id }), data: {turbo_method: :post, turbo_confirm: "Are you sure you want to buy a #{product.name} poster?"}, class: "btn btn-primary" %>
                  <% else %>
                    <p class="text-muted mb-0">You need to be logged in to order!</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
